<h1>Edit Your Profile!</h1>
<%= bootstrap_form_for [@user, @profile], method: :patch do |f| %>
      <%= f.text_area :about %>
     @<%= f.text_field :twitter %>
   Id:<%= f.text_field :github %>
  URL:<%= f.text_field :linkedin %>
  <%= f.submit class: "btn btn-primary"%>
<% end %>

<%= render "/users/user" %>
