<h1>Snippets</h1>
<%= paginate @snippets %>
<% @snippets.each do |snippet| %>
  <% if (can? :manage, snippet) || (!snippet.private?) %>
    <a href="<%= snippet_path(snippet) %>" class="snippet-link overlay">
      <%= snippet.title %>
      <div class="darken">
        <% if snippet.kind.title.downcase == "markdown" %>
          <%= markdown(snippet.work) %>
        <% else %>
          <%= markdown((snippet.code_fence).truncate(350)) %>
        <% end %>
      </div>
      <hr>
    </a>
  <% end %>
<% end %>
<%= paginate @snippets %>
