<h1>Snippets</h1>
<%= paginate @snippets %>
<% @snippets.each do |snippet| %>
  <% if (can? :manage, snippet) || (!snippet.private?) %>
      <%= link_to snippet.title, snippet_path(snippet) %>
      <% if snippet.kind.title.downcase == "markdown" %>
        <%= markdown("#{snippet.work}") %>
      <% else %>
        <%= markdown(("~~~#{snippet.kind.title.downcase}\n#{snippet.work}\n~~~").truncate(350)) %>
      <% end %>
      <hr>
  <% end %>
<% end %>
<%= paginate @snippets %>

