<h1><%= @snippet.title %></h1>
<code><%= markdown("~~~#{@snippet.kind.title.downcase}\n#{@snippet.work}\n~~~") %></code>
<p class="author-link">
  by: <%= @snippet.user.full_name %>
</p>
Kind: <%= @snippet.kind.title %>
Private: <%= @snippet.private %>
<%= link_to "Edit", edit_snippet_path(@snippet) %>
<% if @snippet.favourited_by?(current_user) %>
  <%= link_to "Unfavourite", snippet_favourite_path(@snippet, @snippet.favourite_for(current_user)), method: :delete %>
<% else %>
  <%= link_to "Favourite", snippet_favourites_path(@snippet), method: :post %>
<% end %>
