<h1><%= @snippet.title %></h1>
<h2>Body</h2>
<code><%= markdown("~~~#{@snippet.kind.title.downcase}\n#{@snippet.work}\n~~~") %></code>
Kind: <%= @snippet.kind.title %>
Private: <%= @snippet.private %>
<%= link_to "Edit", edit_snippet_path(@snippet) %>
