<div class="show-container">

<h1><%= @snippet.title %></h1>
<div class="code-container">
  <% if @snippet.kind.title.downcase == "markdown" %>
    <%= markdown(@snippet.work) %>
  <% else %>
    <%= markdown(@snippet.code_fence) %>
  <% end %>
</div>
<p class="author-link">
  by: <%= link_to @snippet.user.full_name, user_path(@snippet.user) %>
</p>
Kind: <%= @snippet.kind.title %>
Private: <%= @snippet.private %>
<% if can? :manage, Snippet %>
  <%= link_to "Edit", edit_snippet_path(@snippet) %>
  <%= link_to "Delete", snippet_path(@snippet), method: :delete, data:{confirm: "Are you sure?"} %>
<% end %>
<% if @snippet.favourited_by?(current_user) %>
  <%= link_to fa_icon("star"), snippet_favourite_path(@snippet, @snippet.favourite_for(current_user)), method: :delete, class: "bright-star" %>
<% else %>
  <%= link_to fa_icon("star-o"), snippet_favourites_path(@snippet), method: :post, class: "grey-star" %>
<% end %>

<h3>Leave a Comment</h3>
<%= form_for [@snippet, @comment] do |f| %>
  <%= f.label :body %>
  <%= f.text_area :body %>
  <%= f.submit %>
<% end %>

<h3>Comments</h3>
<% @comments.each do |comment| %>
  <%= comment.body %><br>
  <%= comment.user.full_name %>
  <% if can? :manage, comment %>
    <%= link_to "Delete", snippet_comment_path(@snippet, comment), method: :delete %>
  <% end %>
  <hr>
<% end %>
</div>
