<h1>Start a conversation</h1>

<%= bootstrap_form_tag url: conversations_path do |f| %>
  To: <%= @recipient.full_name %>
  <%= f.text_field to: @recipient.id %>
  <%= f.text_area :body %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
