<h1><%= @user.full_name %></h1>
<%= image_tag @user.gravatar_url %>
<%= link_to "Gravatar", "https://en.gravatar.com/", target: :blank %>
<h3>About</h3> <br>
<%= @user.profile.about %>

<h3>Social Media</h3>
<%= @user.profile.twitter %>
<%= @user.profile.github %>
<%= @user.profile.linkedin %>

<% if can? :manage, Profile %>
  <%= link_to "Edit", edit_user_profile_path(@user, @user.profile) %>
<% end %>
