<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Code Snippet</a> -->
      <%= link_to "</Code Snippets/>", root_path, {class: "navbar-brand"} %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li><%#= link_to "Main Page", root_path %></li> -->
        <li><%= link_to "Snippets", snippets_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "My Snippets", snippets_path(mine: true) %></li>
          <li><%= link_to "My Favourites", favourites_path %></li>
          <li><%= link_to "Create Snippet", new_snippet_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Hello, #{current_user.first_name.capitalize}", user_path(current_user) %></li>
          <li><%= link_to "Sign Out", sessions_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign Up", new_user_path %></li>
          <!-- <li><%#= link_to "Sign In", new_session_path %></li> -->
          <li><a href="#{new_session_path}", data-toggle="modal" data-target="#myModal">Sign In</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
