<!DOCTYPE html>
<html>
<head>
  <title>Snippets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%= link_to "Snippets", root_path %>
    |
    <% if user_signed_in? %>
    <%= link_to "Hello, #{current_user.first_name.capitalize}", edit_user_path(current_user) %>
    |
    <%= link_to "My snippets", root_path(mine: true) %>
    |
    <%= link_to "Create Snippet", new_snippet_path %>
    |
    <%= link_to "Sign Out", sessions_path, method: :delete %>
    <% else %>
    <%= link_to "Sign Up", new_user_path %>
    |
    <%= link_to "Sign In", new_session_path %>
    <% end %>
  </nav>

<%= yield %>

</body>
</html>
